/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}
img{
    max-width: 100%;
}
/* a{
    text-decoration: none;
} */
ul{
    list-style-type: none;
}

/* UTILS */
.debug{
    min-height: 50px;
    padding: 5px;
    background-color:#ff000022;
    border: 2px dashed red;
}
.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
[class*='col'] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.pad-20{
    padding: 20px 0;
}

/* HEADER  */
#header-title{
    font-family: 'Nerko One',cursive;
    color: #ff9614;
    text-align: center;
    padding: 10px;
}

/* MAIN  */
main{
    background-color: #f6f5f3;
}
#food-type{
    color: lightgray;
    padding: 10px 0;
}
#dish-title{
    display: inline-block;
}
#dish-subtitle{
    display: none;
}
/* video tutorial section  */
.card-content h3{
    padding-bottom: 20px;
}
.card{
    background-color: white;
    margin-top: 20px;
}
.card-content{
    padding: 20px;
}
.card-content li{
    padding: 5px 0;
}

/* social section  */
#social{
    padding-top: 30px;
}
.social-box{
    display: flex;
    justify-content: space-between;
}

.logo-div{
    background-color: white;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
    margin: 0 10px;
}

.fa-facebook{
    color: blue;
}
.fa-instagram{
    color: #d93f6d;
}
.fa-pinterest{
    color: red;
}
.fa-youtube{
    color: red;
}
.social-box span{
    display: none;
}
/* banner section  */
#banner{
    display: none;
    
}
/* presentation section  */

.raw-divisor{
    width: 90px;
    height: 1px;
    border: 1px solid orange;
    
}

.clearfix img{
       
    width: 250px;
    height: 200px;
}


/* FOOTER  */
footer{
    background-color: #7c69a4;
    color: white;
}
.raw-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.link-footer li{
    display: inline-block;
    padding-left: 5px;
}



@media screen and (min-width: 768px) {
    .container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #header-title{
        text-align: left;
    }
    #dish-subtitle{
        display: inline-block;
    }
    .card-content li{
        display: inline-block;
        width: 30%;
    }
    .logo-div{
        flex-grow: 1;
    }
    #banner{
        display: block;
    }
    .clearfix::after{
        content: '';
        display: table;
        clear: both;
    }
    .clearfix img{
        float: left;
    }



}
@media screen and (min-width: 992px) {
    .container{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .card{
        display: flex;
    }
    .card-content li{
        display: list-item;
        width: 100%;
    }
    .social-box span{
        display: inline-block;
    }
    .raw-footer{
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
    }
}
/* BONUS */
@media screen and (min-width: 576px){
    .clearfix::after{
        content: '';
        display: table;
        clear: both;
    }
    .clearfix img{
        float: left;
    }
    .logo-div{
        flex-grow: 1;
    }
}
